#1 Branching: if statement

##1.1 Samples

###1.1.1 if statement

In [36]:
import math
x = int(input("Enter an integer:"))
print(f'x = {x}')
if x >= 0:
  print('x >= 0; SQRT(x) = {:<10.2f}'.format(math.sqrt(x)))

x = 10
x >= 0; SQRT(x) = 3.16

###1.1.2 if-else statement

In [37]:
valid_low, valid_high = 0, 10
print(f'valid range: [{valid_low}, {valid_high}]')
x = int(input("Enter an integer:"))
if (x >= valid_low) & (x <= valid_high):
  print(f'x = {x}, a valid value')
else:
  print(f'x = {x}, it is not inside of the valid range')

valid range: [0, 10]
x = 20, it is not inside of the valid range

###1.1.3 else-if statement

In [38]:
valid_low, valid_high = 0, 10
print(f'valid range: [{valid_low}, {valid_high}]')
x = int(input("Enter an integer:"))
if x < valid_low:
  print(f'x = {x}, it is smaller than the lower-bound; so, it is invalid')
elif x > valid_high:
  print(f'x = {x}, it is larger than the upper-bound; so, it is invalid')
else:
  print(f'x = {x}, a valid value')

valid range: [0, 10]
x = 30, it is larger than the upper-bound; so, it is invalid

##1.2 Exercises

In [39]:
"""
Fill your code to:
1. get an integer from user
2. determine whether it is an odd or even number
3. show the result as in the output cell
"""
x = int(input("Enter an integer:"))
if x % 2 == 0:
    print(f"{x} is an even number")
else: 
    print(f"{x} is an odd number")

40 is an even number

In [40]:
"""
Fill your code to:
1. get an integer from user
2. check if it is in the following interval:
  a. (-infinity, a)
  b. [a, b)
  c. [b, c)
  d. [c, d)
  e. [d, +infinity)
"""

a, b, c, d = 10, 20, 30, 40
print(f'a,b,c,d = {a},{b},{c},{d}')

x = int(input("Enter an integer:"))
if x < a:
    print(f"{x} in (-infinity, {a})")
elif x >= a and x < b:
    print(f"{x} in [{a}, {b})")
elif x >=b and x < c:
    print(f"{x} in [{b},{c})")
elif x >= x and x < d:
    print(f"{x} in [{c}, {d})")
else:
    print(f"{x} in [d, +infinity)")

a,b,c,d = 10,20,30,40
50 in [d, +infinity)

In [41]:
import statistics as stats 

"""
Median of threes: A, B, C
Fill your code to:
1. get an integer from user
2. determine the median value
3. make the report as shown in the output cell followed
Note: call stats.median([A, B, C]) to get the median by library 'statistics' for comparison

"""
def median(data):
    new_data = sorted(data)
    n = len(new_data)

    if n % 2 == 1:
        return new_data[n // 2]
    else: 
        return (new_data[n // 2 - 1] + new_data[n // 2]) / 2 

input_list = []
A = int(input("Enter a number:"))
input_list.append(A)
B = int(input("Enter a number:"))
input_list.append(B)
C = int(input("Enter a number:"))
input_list.append(C)
print(f"A, B, C = {A}, {B}, {C}")


print(f"Median of [{A}, {B}, {C}]: {median(input_list)}")
print(f"Median by Statistics Library: {stats.median([A,B,C])}")

A, B, C = 60, 70, 80
Median of [60, 70, 80]: 70
Median by Statistics Library: 70

#2 Repeatation

##2.1 Samples: for statement

###2.1.1 for with function range
Notes:
* ***range(start=0, stop, step=1)***: generates a sequence from ***start*** (included)to ***stop***(excluded), increments by ***step***,

In [42]:
#start is 0 by default, stop is 10 (not included 10), increment=1 by default
for v in range(10): 
  print(v)

0
1
2
3
4
5
6
7
8
9

In [43]:
#start is 2, stop is 10 (not included 10), increment=1 by default
for v in range(2, 10):
  print(v)

2
3
4
5
6
7
8
9

In [44]:
#start is 2, stop is 10 (not included 10), increment=2

for v in range(2, 10, 2):
  print(v)

2
4
6
8

###2.1.2 for with string, list, tuple

In [45]:
S = 'ABCDE'
for c in S:
  print(c)

A
B
C
D
E

In [46]:
L = list('ABCDE')
print('List: ', L)
for e in L:
  print(e)

List:  ['A', 'B', 'C', 'D', 'E']
A
B
C
D
E

In [47]:
T = tuple('ABCDE')
print('List: ', T)
for e in T:
  print(e)

List:  ('A', 'B', 'C', 'D', 'E')
A
B
C
D
E

##2.2 Samples: while statement

In [48]:
c = 0
while c < 10:
  print(c)
  c += 1

0
1
2
3
4
5
6
7
8
9

In [49]:
c = 0
while True:
  print(c)
  c += 1
  if c >= 10:
    break;

0
1
2
3
4
5
6
7
8
9

##2.3 Exercises

In [50]:
"""
This cell shows you an example of number (integer) generation
"""
# RUN THIS CELL
import random

random.seed(10)
random.randint(0, 10)

9

###Q.1

####Q.1.1 Must be for-loop

In [51]:
"""
Fill code this cell to generate N integers randomly to list L
* each randomized item must be in [0, 50]
"""
N = 10
L = []
random.seed(10)
#YOUR CODE IS HERE

for i in range(N):
    new_value = random.randint(0,50)
    L.append(new_value)

print(L)

[36, 2, 27, 30, 36, 0, 13, 29, 31, 17]

####Q.1.1 Must be comprehension

In [52]:
"""
Fill code this cell to generate N integers randomly to list L
* each randomized item must be in [0, 50]
"""
random.seed(10)
#YOUR CODE IS HERE
L = [random.randint(0,50) for i in range(N)]

print(L)

[36, 2, 27, 30, 36, 0, 13, 29, 31, 17]

###Q.2

####Q.2.1 Must be for-loop

In [53]:
"""
Fill code to this cell to compute the sum of all the numerical values in list L,
and show the result as in the output cell followed
"""
L = [36, 2, 27, 'ABC', 30, 36, 0, 13, 29, 'None', 31, 17]

sum_value = 0 
for i in L:
    if isinstance(i, int):
        sum_value += i 
print(f"List: {L}")
print(sum_value)

List: [36, 2, 27, 'ABC', 30, 36, 0, 13, 29, 'None', 31, 17]
221

####Q.2.2 Must use comprehension

In [54]:
"""
Fill code to this cell to compute the sum of all the numeric values in list L,
and show the result as in the output cell followed
"""
L = [36, 2, 27, 'ABC', 30, 36, 0, 13, 29, 'None', 31, 17]

total = sum(x for x in L if isinstance(x, (int, float)))

print(f"List: {L}")
print(total)

TypeError: 'int' object is not callable

####Q.2.3 Must use filter

In [ ]:
"""
Fill code to this cell to compute the sum of all the numerical values in list L,
and show the result as in the output cell followed
"""
L = [36, 2, 27, 'ABC', 30, 36, 0, 13, 29, 'None', 31, 17]
#YOUR CODE IS HERE
total = sum(list(filter(lambda x: isinstance(x, (int,float)), L)))
print(f"List: {L}")
print(total)

List: [36, 2, 27, 'ABC', 30, 36, 0, 13, 29, 'None', 31, 17]
221

###Q.3

####Q.3.1 Must use for-loop

In [ ]:
"""
Fill code to this cell to compute the average of all the numerical values in list L,
and show the result as in the output cell followed
"""
L = [36, 2, 27, 'ABC', 30, 36, 0, 13, 29, 'None', 31, 17]

sum = 0
for i in L: 
    if isinstance(i, (int, float)):
        sum += i

print(f"List: {L}")
print(f"Total: {sum}")
print(f"Average: {sum/len(list(filter(lambda x: isinstance(x, (int,float)), L)))}")

List: [36, 2, 27, 'ABC', 30, 36, 0, 13, 29, 'None', 31, 17]
Total: 221
Average: 22.1

####Q.3.2 Must use comprehension

In [ ]:
"""
Fill code to this cell to compute the average of all the numerical values in list L,
and show the result as in the output cell followed
"""
L = [36, 2, 27, 'ABC', 30, 36, 0, 13, 29, 'None', 31, 17]

numeric_list = list(filter(lambda x: isinstance(x, (int, float)), L))
sum_value_list = sum(numeric_list)
len_value = len(numeric_list)
print(f"List: {L}")
print(f"Total: {sum_value_list}")
print(f"Average: {sum_value/len_value}")

TypeError: 'int' object is not callable

####Q.3.2 Must use filter

In [ ]:
"""
Fill code to this cell to compute the average of all the numerical values in list L,
and show the result as in the output cell followed
"""
L = [36, 2, 27, 'ABC', 30, 36, 0, 13, 29, 'None', 31, 17]
#YOUR CODE IS HERE

###Q.4

In [ ]:
"""
RUN THIS CELL TO PREPARE THE DATA
"""
random.seed(0)
L = [random.randint(0, 10) for k in range(100)]
for k in range(10):
  L.insert(random.randint(0, len(L)), 'None')
print("Number of items in L: ", len(L))
print("The fist 10 items in L: ", L[:10])

Number of items in L:  110
The fist 10 items in L:  [6, 6, 0, 4, 'None', 8, 7, 6, 4, 7]

In [ ]:
"""
Fill code to this cell to count the frequency of numerical items inside of L;
and make the result as shown in the output cell followed
"""

'\nFill code to this cell to count the frequency of numerical items inside of L;\nand make the result as shown in the output cell followed\n'

###Q.5

In [ ]:
"""
Fill code to this cell to:
1. count the frequency of numerical items inside of L;
2. make a report as shown in the output cell followed
"""
#YOUR CODE HERE

'\nFill code to this cell to:\n1. count the frequency of numerical items inside of L;\n2. make a report as shown in the output cell followed\n'

###Q.6

In [ ]:
import statistics as st


"""
Define a variable named 'LK'; 
it is a dictionary to map from function name to some statistical functions,
 as shown in the output cell followed
"""
LK: dict

#YOUR CODE IS HERE

###Q.7

In [ ]:
"""
Fill code to this cell to:
* compute some statistics for list Lx followed, by using functions stored in dictionary LK, created above
* make a report as shown in the output cell followed
"""

Lx = [1, 2, 1, 5, 0, 10, 2, 2, 7]

#YOUR CODE IS HERE